---
layout: default
title: Blog
permalink: /
---

<div class="home">

    <div class="container">
        <div class="row">
            <div class="post-list">
                <h1>Latest Posts</h1>
                <br />
                {% for post in site.posts %}
                <div class="card">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>
                                <a class="post-link" href="{{ post.url | prepend: site.data.Site.baseurl }}">{{ post.title }}</a>
                            </h2>
                            <small class="post-meta">{{ post.date | date: "%A, %-d %B %Y" }}</small>
                            {{ post.excerpt }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
