<footer class="site-footer">
    <br />
    <br />
    <div id="footer">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <span id="spnCopyright">Copyright &copy; 2017 {{ site.data.Site.title }}</span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="pull-right">
                <a href="//www.dmca.com/Protection/Status.aspx?ID=ca213624-fb0d-4b08-94b6-c00a14a75e60" title="DMCA.com Protection Status" class="dmca-badge"> 
                    <img src="//images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=ca213624-fb0d-4b08-94b6-c00a14a75e60" alt="DMCA.com Protection Status"></a>
                <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
            </div>
        </div>
    </div>

</footer>
