﻿<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.data.Site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.Site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.data.Site.baseurl | prepend: site.data.Site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.Site.title }}" href="{{ "/feed.xml" | prepend: site.data.Site.baseurl | prepend: site.data.Site.url }}">

    <!--Jquery JS-->
    <script src="{{"/Scripts/jquery-3.2.1.min.js" | prepend: site.data.Site.baseurl }}"></script>

    <!--Bootstrap JS and CSS-->
    <link href="{{"/Content/bootstrap.min.css" | prepend: site.data.Site.baseurl }}" rel="stylesheet">
    <script src="{{"/Scripts/bootstrap.min.js" | prepend: site.data.Site.baseurl }}"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <!--Master CSS-->
    <link href="{{"/css/master.css" | prepend: site.data.Site.baseurl }}" rel="stylesheet">
</head>
