<header class="site-header">
    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="col-md-offset-1 col-md-1">
            <div style="width: 70%; height: 70%;">
                <img id="imgLogo" src="{{"/Images/rorazoro.svg" | prepend: site.data.Site.baseurl }}" class="img-responsive img-rounded" />
            </div>
        </div>
        <div class="col-md-8" style="padding-top: 4px;">
            <h1>A Wolf Among Programmers</h1>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#divNavbar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="divNavbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if page.url == '/' %} class="active"{% endif %}><a href="/">Blog</a></li>
                    <!--<li><a href="PostArchive.aspx">Archive</a></li>-->
                    <li {% if page.url == '/about/' %} class="active"{% endif %}><a href="/about">About</a></li>
                    <li {% if page.url == '/contact/' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
                    
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Project Guardian</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
