﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="0;URL='{{site.data.Site.baseurl}}/construction.html'" />

    <title>Contact</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.Site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.data.Site.baseurl | prepend: site.data.Site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.data.Site.title }}" href="{{ "/feed.xml" | prepend: site.data.Site.baseurl | prepend: site.data.Site.url }}">

    <!--Jquery JS-->
    <script src="{{"/Scripts/jquery-3.2.1.min.js" | prepend: site.data.Site.baseurl }}"></script>

    <!--Bootstrap JS and CSS-->
    <link href="{{"/Content/bootstrap.min.css" | prepend: site.data.Site.baseurl }}" rel="stylesheet">
    <script src="{{"/Scripts/bootstrap.min.js" | prepend: site.data.Site.baseurl }}"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <!--Master CSS-->
    <link href="{{"/css/master.css" | prepend: site.data.Site.baseurl }}" rel="stylesheet">
</head>
<body>
    <header class="site-header">
        <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
            <div class="col-md-offset-1 col-md-1">
                <div style="width: 70%; height: 70%;">
                    <img id="imgLogo" src="{{"/Images/rorazoro.svg" | prepend: site.data.Site.baseurl }}" class="img-responsive img-rounded" />
                </div>
            </div>
            <div class="col-md-8" style="padding-top: 4px;">
                <h1>A Wolf Among Programmers</h1>
            </div>
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#divNavbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="divNavbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li {% if page.url=='/' %} class="active" {% endif %}><a href="/">Blog</a></li>
                        <!--<li><a href="PostArchive.aspx">Archive</a></li>-->
                        <li {% if page.url=='/about/' %} class="active" {% endif %}><a href="/about">About</a></li>
                        <li {% if page.url=='/contact/' %} class="active" {% endif %}><a href="/contact">Contact</a></li>

                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Project Guardian</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="contact">
        <div class="container">
            <form action="http://formspree.io/sdchancey91@gmail.com" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contact</h1>
                        <p>Use this form to contact me.</p>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Your Name: </label>
                        <input name="name" class="form-control">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Your Email: </label>
                        <input type="email" name="_replyto" class="form-control">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Subject: </label>
                        <input name="subject" class="form-control">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label>Message: </label>
                        <textarea name="body" class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" value="Send" class="btn btn-primary pull-right">
                    </div>
                </div>
                <br />
                
            </form>
        </div>
    </div>
    <footer class="site-footer">
        <br />
        <br />
        <div id="footer">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <span id="spnCopyright">Copyright &copy; 2017 {{ site.data.Site.title }}</span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="pull-right">
                    <a href="//www.dmca.com/Protection/Status.aspx?ID=ca213624-fb0d-4b08-94b6-c00a14a75e60" title="DMCA.com Protection Status" class="dmca-badge">
                        <img src="//images.dmca.com/Badges/dmca_protected_sml_120n.png?ID=ca213624-fb0d-4b08-94b6-c00a14a75e60" alt="DMCA.com Protection Status">
                    </a>
                    <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>

