<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!--Jquery JS-->
    <script src="{{"/Scripts/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>

    <!--Bootstrap JS and CSS-->
    <link href="{{"/Content/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
    <script src="{{"/Scripts/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">

    <!--Master CSS-->
    <link href="{{"/css/master.css" | prepend: site.baseurl }}" rel="stylesheet">
</head>
<body>

    {% include header.html %}

    <div class="page-content">
        <div class="wrapper container">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}

</body>

</html>
